{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <form class="password-form" action="{{ site.site_url }}/wp-login.php?action=postpass" method="post" style="max-width:800px; margin:50px auto;">
            <h2 class="h2">{{ __("La page est protégée par un mot de passe") }}</h2>
            <br><br><br> <br><br><br>
            <label for="pwbox-{{ post.ID }}">{{ __('Mot de passe :') }}</label>
            <input class="password-box" name="post_password" id="pwbox-{{ post.ID }}" type="password" placeholder="Mot de passe"
                   size="20" maxlength="20"/>
            <br><br><br>
            <button class="btn btn--primary" type="submit" style="background-color:transparent;">{{ __('Envoyer') }}</button>
        </form>
    </div>
{% endblock %}
