{% if menu %}
    <ul>
        {% for item in menu %}
            <li class="{{ isChildren ? item.classes | join(' ') : ' ' ~ item.classes | join(' ') }}">
                {% if 'menu-item-has-children' in item.classes %}
                    {% set icon = '🡒' %}
                {% else %}
                    {% set icon = '' %}
                {% endif %}
                <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}{{ icon }}</a>
                {% include "components/navigations/menu.html.twig" with {'menu': item.get_children, 'isChildren': true} %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
