{% if pagination is not empty and pagination.pages is not empty %}
    <nav class="pagination-block flex justify-center">
        <ul class="flex items-center gap-1">

            {# First #}
            {% if pagination.pages|first and pagination.pages|first.current != true %}
                <li class="flex items-center px-2 py-1">
                    <a href="{{ pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="flex items-center px-2 py-1 opacity-30">
                    <button disabled>First</button>
                </li>
            {% endif %}

            {# Previous #}
            {% if pagination.prev %}
                <li class="flex items-center px-2 py-1">
                    <a href="{{ pagination.prev.link }}">Previous</a>
                </li>
            {% else %}
                <li class="flex items-center px-2 py-1 opacity-30">
                    <button disabled>Previous</button>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in pagination.pages %}
                {% if page.link %}
                    <li class="px-2 py-1">
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="px-2 py-1 font-bold">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if pagination.next %}
                <li class="flex items-center px-2 py-1">
                    <a href="{{ pagination.next.link }}">Next</a>
                </li>
            {% else %}
                <li class="flex items-center px-2 py-1 opacity-30">
                    <button disabled>Next</button>
                </li>
            {% endif %}

            {# Last #}
            {% if pagination.pages|last and pagination.pages|last.current != true %}
                <li class="flex items-center px-2 py-1">
                    <a href="{{ pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li class="flex items-center px-2 py-1 opacity-30">
                    <button disabled>Last</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
