{% set media = media ?? fields.media %}
{# Set classes for the wrapper #}
{% set wrapper_class = {base: "col-span-full", default: {}} | mergeClass({}, wrapper_class) %}

{% set image_render  %}
    {% import "components/content/media/image.html.twig" as image %}

    {%  set image_object = media.type == "video" ? media.video.thumbnail : media.image  %}

    {{ image.render_picture(image_object) }}
{% endset %}

<div class="{{ wrapper_class }}">
    {% if media.type != "video" %}
        {{ image_render }}
    {% else %}
        {% if media.video.is_youtube %}
            {% set videoURL = "https://www.youtube.com/embed/" ~ media.video.id %}
        {% else %}
            {% set videoURL = media.video.file %}
        {% endif %}

        <a class="js-glightbox-video-single relative block" href="{{ videoURL }}">
            <div class="absolute inset-0 bg-black/40"></div>
            {{ image_render }}
            {% include "components/action/button/btn-play.html.twig" %}
        </a>
    {% endif %}
</div>
